.plugin-form select, .plugin-form label, .plugin-form small{
	z-index: 1;
	background: none;
  cursor: not-allowed;
  color: darkgray !important;
}
#pluginMain {
	padding: 2px 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.15);
  z-index: 2;
  cursor: not-allowed;
}